<div class="news-wrapper">
  <div class="container-x d-flex mb-3">
    <div class="row">
      <% @articles.flatten.shuffle[0..11].each do |article| %> 
        <div class="col-sm-3 box2">  
          <div class="img-wrap">
            <div class="img-wrap-bright ">
              <a href="<%= article_path(article.id)%>">
                <div  class="div-news-title">
                  <img  src="<%= rails_blob_url(article.image) %>"width="348" height="170">
                </div>
              </a>
            </div>
            <a href="" class="tile-section"><%=article.category_russian_name%></a>
            <a href="" class="b-tile-comments"><b><span>0</span></b></a>
            <h5><b><%= link_to "#{article.title}", article_path(article.id), class: "text-white"%><span></b></h5>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12 mb-2">
        <div class="news-category-title"><%= link_to "ЛЮДИ", '/news/people', class: "text-dark"%></div>
      </div>
    </div>
  </div>
  <% people = @articles[0] %> 
  <%if (people.size >=10 )%>
    <div class="container-x d-flex mb-3">
      <div class="row">
        <%= render partial: "line_articles_to_category",object: people[0..4], as: 'articles' %>
      </div>
    </div>
    <div class="container-x d-flex">
      <div class="row my-2 mx-2">
        <% people[5..6].each_with_index do |article,index| %> 
          <%if index == 0 %>
            <%= render partial: "wide_article",object: article, as: 'article'%>
          <%end%>
          <%if index == 1 %>
            <%= render partial: "narrow_article",object: article, as: 'article'%>
          <%end%>
        <%end%>
        <div class="custom-col-news mb-2">  
            <%= render partial: "column_articles",object: people[7..9], as: 'articles'%>
        </div>
        <div class="col-md-12 mt-3">  
          <div class="horisontal_gray_line mt-3"></div>
        </div>
      </div>    
    </div>
    <div class="col-md-12 mb-3">  
      <a href="/news/people" class="footer-button">Все новости о людях</a>
    </div>
  <%end%>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12 mb-2">
        <div class="news-category-title"><%= link_to "Мнения", '/news/opinions', class: "text-dark"%></div>
      </div>
    </div>
  </div>
  <% opinions = @articles[1] %> 
  <%if (people.size >=4 )%>
    <div class="container-x d-flex mb-3">
      <div class="row">
        <%opinions.each do |article| %> 
          <div class="col-sm-3 box2">  
            <div class="img-wrap">
              <div class="img-wrap-bright ">
                <a href="<%= article_path(article.id)%>">
                  <div  class="div-news-title">
                    <img  src="<%= rails_blob_url(article.image) %>", padding ="58px 25px 5px" , height="200">
                  </div>
                </a>
              </div>
              <a href="" class="tile-section"><%=article.category_russian_name%></a>
              <a href="" class="b-tile-comments"><b><span>0</span></b></a>
              <h5><b><%= link_to "#{article.title}", article_path(article.id), class: "text-white"%><span></b></h5>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 my-4">  
        <a href="/news/opinions" class="footer-button">Все мнения</a>
      </div>
    </div>
  <%end%>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12 mb-2">
        <div class="news-category-title"><%= link_to "Авто", '/news/auto', class: "text-dark"%></div>
      </div>
    </div>
  </div> 
  <% auto = @articles[2] %> 
  <%if (auto.size >=10 )%>
    <div class="container-x d-flex mb-3">
      <div class="row">
        <%= render partial: "line_articles_to_category",object: auto[0..4], as: 'articles'%>
      </div>
    </div>
    <div class="container-x d-flex">
      <div class="row my-2 mx-2">
        <% auto[5..6].each_with_index do |article,index| %> 
          <%if index == 0 %>
          <%= render partial: "narrow_article",object: article, as: 'article'%>
          <%end%>
          <%if index == 1 %>
          <%= render partial: "wide_article",object: article, as: 'article'%>
          <%end%>
        <%end%>
        <div class="custom-col-news mb-2">  
          <%= render partial: "column_articles",object: auto[7..9], as: 'articles'%>
        </div>
        <div class="col-md-12 mt-3">  
          <div class="horisontal_gray_line mt-3"></div>
        </div>
      </div>    
    </div>
    <div class="col-md-12 mb-3">  
      <a href="/news/auto" class="footer-button">Все новости об автомобилях</a>
    </div>
  <%end%>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12 mb-2">
        <div class="news-category-title"><%= link_to "Технологии", '/news/technologies', class: "text-dark"%></div>
      </div>
    </div>
  </div> 
  <% technologies = @articles[3]%> 
  <%if (technologies.size >=10 )%>
    <div class="container-x d-flex mb-3">
      <div class="row">
        <%= render partial: "line_articles_to_category",object: technologies [0..4], as: 'articles'%>
      </div>
    </div>
    <div class="container-x d-flex">
      <div class="row my-2 mx-2">
        <% technologies[5..6].each_with_index do |article,index| %> 
          <%if index == 0 %>
            <%= render partial: "wide_article",object: article, as: 'article'%>
          <%end%>
          <%if index == 1 %>
            <%= render partial: "narrow_article",object: article, as: 'article'%>
          <%end%>
        <%end%>
        <div class="custom-col-news mb-2">  
          <%= render partial: "column_articles",object: technologies[7..9], as: 'articles'%>
        </div>
        <div class="col-md-12 mt-3">  
          <div class="horisontal_gray_line mt-3"></div>
        </div>
      </div>    
    </div>
    <div class="col-md-12 mb-3">  
      <a href="/news/technologies" class="footer-button">Все новости о технологиях</a>
    </div>
  <%end%>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12 mb-2">
        <div class="news-category-title"><%= link_to "Недвижимость", '/news/realt', class: "text-dark"%></div>
      </div>
    </div>
  </div> 
  <% realt = @articles[4] %> 
  <%if (realt.size >=10 )%>
    <div class="container-x d-flex mb-3">
      <div class="row">
        <%= render partial: "line_articles_to_category",object: realt[0..4], as: 'articles'%>
      </div>
    </div>
    <div class="container-x d-flex">
      <div class="row my-2 mx-2">
        <% realt[5..6].each_with_index do |article,index| %> 
          <%if index == 0 %>
            <%= render partial: "narrow_article",object: article, as: 'article'%>
          <%end%>
          <%if index == 1 %>
            <%= render partial: "wide_article",object: article, as: 'article'%>
          <%end%>
        <%end%>
        <div class="custom-col-news mb-2">  
            <%= render partial: "column_articles",object: realt[7..9], as: 'articles'%>
        </div>
        <div class="col-md-12 mt-3">  
          <div class="horisontal_gray_line mt-3"></div>
        </div>
      </div>    
    </div>
    <div class="col-md-12 mb-3">  
      <a href="/news/realt" class="footer-button">Все новости о недвижимости</a>
    </div>
  <%end%>
</div>  
