<div class="news-wrapper">
<% unless params[:category]=='opinions'%>
  <div class="container-x d-flex mb-3">
    <div class="row">
      <% @articles.limit(8).each do |article| %> 
        <div class="col-sm-3 box2">  
            <div class="img-wrap">
              <div class="img-wrap-bright ">
              <a href="<%= article_path(article.id)%>"><div  class="div2">
                <div  class="div-news-title">
                  <img  src="<%= rails_blob_url(article.image) %>"width="348" height="170">
                </div>  
              </div></a>
              </div>
              <div class ="comments">
                <a href="" class="button-style button-style_adscititious button-style_small news-header__button news-header__button_comments" id="news-header-comments-counter"> <%= article.comments.count%></a>
              </div>
                <h5><b><%= link_to "#{article.title}", article_path(article.id), class: "text-white"%></b></h5>
            </div>
        </div>
      <%end%>
    </div>
  </div>
  
  <div class="container">
    <div class="row ">
      <div class="col-md-8 ml-5">
        <h5>Все новости:</h5>
      </div>
    </div>
  </div>
  <hr />
  <%if (@articles.size >=8 )%>
  <div id="articles">
  <div class="container d-flex">
    <div class="row my-2 mx-2 mt-5">
        <%= render @articles[8..-1] %>
      </div>
    </div>
  </div>

  <%end%>
  <%else%>
  <div id="articles">
    <div class="container d-flex"> 
      <div class="row my-2 mx-2 mt-5">
        <%= render @articles %>
      </div>
    </div>
  </div>
<%end%> 
<div id="more_articles">
<div class="news-more__wrapper">
  <div class="news-more__control">
    <%= link_to "Загрузить ещё", articles_by_category_path(page: @articles.next_page), remote: true,  class: "button-style button-style_expletive button-style_big news-more__button js-show-more-news text-secondary" %>
    </div>
  </div>
</div>
</div>
