<div class="custom-col-6 mb-2">  
<div class="vertical_gray_line">
  <div class="card border-0 mr-3 ml-2">   
    <a href="<%= article_path(article.id)%>">
      <img class="card-img-top mr-2" src="<%= rails_blob_url(article.image) %>" height="250">
    </a>
    <div class="card-body">  
      <div class="row">
       <div class="col-md-6">
          <div class="news-tidings__subtitle">
            <h5 class="card-title"><b><a><%= link_to "#{article.title}", article_path(article.id)%></b></a></h5>
          </div>
          <%= render partial: "comment_and_date",object: article, as: 'article'%>
        </div>  
        <div class="col-md-6">
          <div class="news-tidings__speech news-helpers_hide_mobile-small">
            <div class="card-text"><%= simple_format(article.text.truncate(240)) %></div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
</div>
