<div class="bg-white">
  <div class="auth-content">
    <div class="container">
    <div class="col-md-10 offset-md-1">
    
      <div class="auth-form__preview mt-4 mb-3"><a href="<%= root_path%>" class="auth-form__image auth-form__image_logo"></a>
        <%= link_to "\u{2613}"  , root_path, class: "close" %>
      </div> 
        
      <div class="form-border">
      <div class="col-md-8 mb-3 mx-4">
      <%= render partial: "layouts/notification"%>  
      </div>  
      <%= form_for @article,  url: "/articles/#{@article.id}",method: :put,  multsipart: true do |f| %>
          <div class="row justify-content-md-center">
            <div class="row justify-content-md-left">
              <div class="col-md-8 mb-3 mx-5">
              <% invalid = @article.errors.include?(:image) %>  
               <%= f.label :image, "Прикрепите фото для статьи:" %>
                <%= f.file_field :image  %> 
                <% if invalid %>
                  <div class="invalid-feedback d-block">
                    <p><big> <%=  @article.errors.messages[:image][0] %></big></p> 
                  </div>
                <%end%>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 mb-3 mx-5">
                  <%= f.label :category, "Выберите категорию статьи:" %>
                <div class="custom-control custom-radio">
                 <div class = "row">
                    <div class="col-md-3">
                      <%= f.radio_button :category, "people", :checked => 'checked'%> Люди <br/> <br/>
                      <%= f.radio_button :category, "opinions" %> Мнения<br/> <br/>
                      <%= f.radio_button :category, "auto" %> Авто<br/><br/>
                    </div>
                    <div class="col-md-3">
                      <%= f.radio_button :category, "technologies"%> Технологии <br/> <br/>
                      <%= f.radio_button :category, "realt" %> Недвижимость<br/> <br/>
                    </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3 mx-5">
              <% invalid = @article.errors.include?(:title) %>  
                <%= f.label :title, "Название статьи:" %>
                <%= f.text_field :title, class: "form-control #{'is-invalid' if invalid}" %>
                <% if invalid %>
                  <div class="invalid-feedback d-block">
                    <p><big> <%=  @article.errors.messages[:title][0] %></big></p> 
                  </div>
                <%end%>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11 mb-3 mx-5">
              <% invalid = @article.errors.include?(:text) %>  
                <%= f.label :text, "Текст статьи:" %>
                <%= f.text_area :text, class: "form-control #{'is-invalid' if invalid}", size: "100x12" %>
                <% if invalid %>
                <div class="invalid-feedback d-block">
                    <p><big> <%=  @article.errors.messages[:text][0] %></big></p> 
                </div>
                <%end%>
              </div>
            </div>

            <div class="row justify-content-md-center">
            <div class="col-md-11 mb-3 mx-5">
              <div class="actions">
                <%= f.submit "Изменить", class: "auth-button auth-button_primary auth-button_middle auth-form__button auth-form__button_width_full" %>
              </div>
            </div>
          </div>

          </div>
        <%end%>
      </div>
    </div>
    </div>  
    </div>  
  </div>
</div>
