<div class="l-gradient-wrapper">
<%= render partial: "layouts/navigation"%>
  <div class="g-middle">
    <div class="g-middle-i">
    <%= render partial: "layouts/navigation_menu"%>
    <%if params[:category] == "all"%>
    <%= render partial: "all_news"%>
    <%else%>
    <%= render partial: "news_to_category"%>
    <%end%>
  </div>
</div>
</div>
<%= render partial: "layouts/footer"%>
