<div class="l-gradient-wrapper">
<%= render partial: "layouts/navigation"%>
<% @user = current_user %>
<div class="g-middle">
    <div class="g-middle-i">
    <%= render partial: "layouts/navigation_menu"%>
    <div class="news-wrapper">
      <div class="news-posts">
      <div class="news-header news-header_extended">
        <div class="news-header__preview">
            <div class = "news-header__image">
              <img src="<%= rails_blob_url(@article.image) %>" width="100%">
              <div class="news-header__bottom">
                <div class="news-header__detail news-header__detail_position_left">
                  <div class="news-header__flex">
                    <div class="news-header__part news-header__part_1">
                      <div class="news-header__control">
                        <a href="#comments" class="button-style button-style_adscititious button-style_small news-header__button news-header__button_comments" id="news-header-comments-counter"><%= @article.comments.count%></a>
                        <div class="news-header__time">
                        <%= @article.parse_date %>
                        </div>
                      </div>
                    </div>
                    <div class="news-header__part news-header__part_2">
                    <div class="news-header__author news-helpers_hide_mobile">
                      Автор: <%= @article.admin_id %>
                    </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="news-text">
        <div class="news-header__title">
          <h1 align="center"><%= @article.title %></h1>
        </div>
            <p><%= simple_format(@article.text)%></p>
        </div>
        <div class="row">
        <div class="col-md-6 offset-md-3">
          <% if @user && @user.type == "Admin"%>
            <div class="row mb-5">
              <%= button_to "Редактировать статью", {:controller => :articles, :action => 'edit', :id => @article.id }, 
              :method => :get , :class => "auth-button auth-button_primary auth-button_middle auth-form__button auth-form__button_width_full" %>
            </div>
          <%end%>
        </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-4 ml-5">
            <div class="discussion">
              <h2 align="center" style="font-weight: bolder">Обсуждение</h2>
            </div>
          </div>
        </div>
        <% if @user%>
          <div class = "row">
            <div class="col-md-7 offset-md-1 mb-3">
              <div class="horisontal_gray_line" style="padding-left: 25px"></div>
            </div>
          </div>
          <div class = "row">
            <div class="comment-form-background">
              <div class="col-md-10 offset-md-1 my-3">
                <div class="comment-form">
                  <div class="row">
                    <div class="column">
                      <%= link_to image_tag("noavatar.png",class: "img-fluid rounded-circle"), 
                      controller: "users", action: "show", id: @user.id %>
                    </div>
                    <div class="column2">
                      <%= form_for :comment, url: "/articles/#{@article.id}/comments/", method: :post do |f| %>
                      <%  invalid = alert if alert %>
                        <%= f.hidden_field :article_id,  value: @article.id %>
                        <%= f.text_area :content,class: "form-control #{'is-invalid' if invalid}" , placeholder: "Ваше мнение, #{@user.id}?" %><br/>
                          
                    <% if alert%>
                      <div class="invalid-feedback d-block">
                        <p><big> <%=  alert %></big></p> 
                      </div>
                    <%end%>
                        <div class="col-md-4">
                          <%= f.submit "Высказаться" , :class => "auth-button auth-button_primary auth-button_middle auth-form__button auth-form__button_width_full" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
        <div class = "row">
            <div class="col-md-8 offset-md-1 my-3">
              <% @article.comments.each do |comment| %>
                <%= render partial: "comment", object: comment %> 
             <% end %>
            </div>
        </div>
        <div class="row">
        </div>
      </div>
</div>
</div>
</div>
</div>
