<div class="l-gradient-wrapper">
  <%= render partial: "layouts/navigation"%>
  <div class="g-middle" >
    <div class="g-middle-i">
      <%= render partial: "layouts/notification"%>  
      <div class="row justify-content-md-center mb-3">
        <div class="col col-lg-4">
          <h5 align="left"> <%= link_to "На главную", root_path, class: "text-secondary"%></h5>
        </div>
        <div class="col mb-3">
          <h2 align="left">Список всех пользователей</h2>
        </div>
      </div>
      <div id="users">
        <%= render partial: 'users/user', collection: @users %>
      </div>
      <div class="news-more__wrapper">
      <div class="news-more__control">
        <div id="more_users">
          <%= link_to "Загрузить ещё", users_path(page: @users.next_page), remote: true,  class: "button-style button-style_expletive button-style_big news-more__button js-show-more-news text-secondary" %>
        </div>
      </div>
    </div>
    </div>
    
    
  </div>
</div>
<%= render partial: "layouts/footer"%>
