<!DOCTYPE html>
<html>
  <head>
    <title>SiteClone</title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#246eb7">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>Onliner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    <link rel="shortcut icon" href="https://gc.onliner.by/favicon.ico">
    
    <%= stylesheet_link_tag "common.min" %>
    <%= stylesheet_link_tag "auth.min" %>
    <%= stylesheet_link_tag "non-critical.min" %>
    <%= stylesheet_link_tag "responsive_layout.min" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="alternate" type="application/rss+xml" title="Onliner" href="/feed"><meta name="yandex-verification" content="64023db300b691cc" />  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
